.cartItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
}
@media (max-width: 576px) {
  .cartItem {
    font-size: 13px;
  }
}
.image {
  width: 20%;
}
.image img {
  width: 50px;
  height: 50px;
}
.name {
  width: 30%;
  text-transform: capitalize;
  flex: 1;
}
.amountButtons {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #ffbe33;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.button:hover {
  background-color: #e69c00;
}
.amount {
  margin: 0 8px;
}
.price {
  width: 20%;
  text-align: end;
}
.price button {
  font-size: 13px;
}
@media (max-width: 576px) {
  .price button {
    font-size: 12px;
  }
}
