.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
}
@media (max-width: 576px) {
  .cart-item {
    font-size: 13px;
  }
}
.cart-item .item-image img {
  width: 50px;
  height: 50px;
}
@media (max-width: 576px) {
  .cart-item .item-image img {
    width: 40px;
    height: 40px;
  }
}
.cart-item .item-name {
  text-transform: capitalize;
  flex: 1;
}
.cart-item .amount-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item .amount-buttons button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #ffbe33;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.cart-item .amount-buttons button:hover {
  background-color: #e69c00;
}
.cart-item .amount-buttons .amount {
  margin: 0 5px;
}
.cart-item .item-price {
  text-align: end;
}
.cart-item .item-price button {
  font-size: 13px;
}
@media (max-width: 576px) {
  .cart-item .item-price button {
    font-size: 12px;
  }
}
