.landing {
  padding: 45px 0 75px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .landing {
    justify-content: start;
  }
}
.text {
  width: 100%;
  text-align: start;
  color: #fff;
  margin-bottom: 230px;
}
@media (min-width: 768px) {
  .text {
    max-width: 58%;
  }
}
@media (min-width: 992px) {
  .text {
    max-width: 50%;
    margin-bottom: 185px;
  }
}
.text h1 {
  margin-bottom: 15px;
  font-family: "DancingScript-Bold", cursive;
  font-size: 3.5rem;
  line-height: 1.2;
  text-transform: capitalize;
}
@media (max-width: 376px) {
  .text h1 {
    font-size: 3rem;
  }
}
.text p {
  margin-bottom: 1rem;
  font-size: 14px;
}
.landing-btn {
  padding: 10px 45px;
  margin-top: 10px;
}
.carousel-dots {
  align-items: center !important;
  justify-content: start !important;
}
.dots-item {
  width: 12px;
  height: 12px;
  margin: 10px 3px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.dots-item.active {
  width: 20px;
  height: 20px;
  background-color: var(--MainColor);
}
