.navbar {
  width: 100%;
  padding: 15px 0;
}
.navbar-items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 991.9px) {
  .navbar-items {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-family: "DancingScript-Bold", cursive;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  line-height: inherit;
  white-space: nowrap;
}
.toggler {
  display: none;
  cursor: pointer;
}
@media (max-width: 991.9px) {
  .toggler {
    display: block;
    transition: 0.3s;
  }
  .toggler.opened {
    transform: rotate(360deg);
  }
}
.toggler span {
  width: 35px;
  height: 4px;
  display: block;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}
.toggler span:not(:last-of-type) {
  margin-bottom: 6px;
}
@media (max-width: 991.9px) {
  .toggler.opened span:first-of-type {
    transform: rotate(45deg);
  }
  .toggler.opened span:nth-of-type(2) {
    transform: rotate(135deg);
    position: absolute;
    top: 0;
  }
  .toggler.opened span:last-of-type {
    display: none;
  }
}
.collapse-menu {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-left: auto;
}
@media (max-width: 991.9px) {
  .collapse-menu {
    height: 0;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.35s ease;
  }
  .collapse-menu.opened {
    transition: height 0.35s ease;
    height: 246px;
  }
}
.links-list,
.side-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.links-list {
  padding-left: 18%;
  margin: 0 auto;
}
@media (max-width: 991.9px) {
  .links-list {
    margin: 0;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .links-list {
    padding-top: 15px;
    padding-left: 0;
  }
}
.side-list li.cart {
  position: relative;
}
.side-list li.cart::before {
  content: attr(data-before);
  position: absolute;
  width: 10px;
  height: 10px;
  color: var(--MainColor);
  top: -8px;
  right: -2px;
}
.links-list li > a,
.side-list li > a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.links-list li > a {
  padding: 5px 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .links-list li > a {
    padding: 5px 25px;
    margin: 5px 0;
  }
}
.side-list li > a {
  margin: 0 10px;
}
.links-list li > a:hover,
.links-list li > a.active,
.side-list li > a:hover {
  color: var(--MainColor);
}
.user-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .user-options {
    margin-top: 15px;
  }
}
