.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 40px 0 20px 0;
  list-style: none;
  overflow: hidden;
}
.filter {
  padding: 7px 25px;
  border-radius: 25px;
  text-transform: capitalize;
  cursor: pointer;
}
.active {
  color: #fff;
  background-color: var(--NavyColor);
}
