.item {
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, var(--NavyColor) 25px);
  display: none;
}
@media (max-width: 576px) {
  .item {
    max-width: 100%;
    flex: 100%;
  }
}
@media (min-width: 576px) {
  .item {
    max-width: calc((100% - 30px) / 2);
    flex: calc((100% - 30px) / 2);
  }
}
@media (min-width: 992px) {
  .item {
    max-width: calc((100% - 60px) / 3);
    flex: calc((100% - 60px) / 3);
  }
}
.active {
  display: block;
}
.imageContainer {
  width: 100%;
  height: 215px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 45px;
  background-color: #f1f2f3;
}
.imageContainer img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 145px;
  transition: 0.2s;
}
.imageContainer img:hover {
  transform: scale(1.1);
}
.description {
  padding: 25px;
  text-align: start;
  color: #fff;
}
.h3 {
  margin-bottom: 8px;
  font-size: 20px;
  text-transform: capitalize;
}
.p {
  margin-bottom: 16px;
  font-size: 15px;
}
.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 8px;
}
