.reviews {
  padding: var(--SectionPadding);
  padding-top: 0;
}
.header {
  margin-bottom: 40px;
  text-align: center;
}
.sliderButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  margin-top: 45px;
  position: relative;
}
.leftButton,
.rightButton {
  width: 45px !important;
  height: 45px !important;
}
