.box {
  margin: 0 15px;
  cursor: grab;
}
.review {
  padding: 25px;
  border-radius: 5px;
  color: #fff;
  text-align: start;
  background-color: var(--NavyColor);
}
.p {
  font-size: 15px;
}
.details {
  margin-bottom: 10px;
}
.h4 {
  margin: 15px 0 5px 0;
  font-size: 18px;
}
.imgContainer {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
}
.imgContainer::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: transparent transparent var(--MainColor) transparent;
}
.imgContainer img {
  width: 115px;
  height: 115px;
  border: 5px solid var(--MainColor);
  border-radius: 100%;
}
