.about {
  padding: var(--SectionPadding);
  background-color: var(--NavyColor);
}
.box {
  display: flex;
  justify-content: center;
  row-gap: 30px;
}
@media (max-width: 768px) {
  .box {
    flex-direction: column;
  }
}
.imagerContainer {
  padding: 0 15px;
  flex: 1;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .imagerContainer {
    order: 2;
    padding: 0;
  }
}
.imagerContainer img {
  width: 100%;
  max-width: 445px;
  height: 100%;
}
.text {
  flex: 1;
  padding: 0 15px;
  margin: auto;
  text-align: left;
  color: white;
}
@media (max-width: 768px) {
  .text {
    order: 1;
    padding: 0;
  }
}
.p {
  font-family: "OpenSans-Regular", sans-serif;
  margin: 15px 0;
}
.a {
  padding: 10px 45px;
  margin-top: 15px;
}
