.about {
  padding: var(--SectionPadding);
  background-color: var(--NavyColor);
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 30px;
}
@media (max-width: 768px) {
  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.imagerContainer {
  padding: 0 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .imagerContainer {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 0;
  }
}
.imagerContainer img {
  width: 100%;
  max-width: 445px;
  height: 100%;
}
.text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 15px;
  margin: auto;
  text-align: left;
  color: white;
}
@media (max-width: 768px) {
  .text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
  }
}
.p {
  font-family: "OpenSans-Regular", sans-serif;
  margin: 15px 0;
}
.a {
  padding: 10px 45px;
  margin-top: 15px;
}
