.container {
  padding: 30px;
  -ms-flex-preferred-size: calc(65% - 25px);
  flex-basis: calc(65% - 25px);
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px 1px #ccc;
  box-shadow: 0 1px 4px 1px #ccc;
}
.container h1,
.label {
  display: block;
  color: #7b7b7b;
  text-transform: capitalize;
}
.container h1 {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: bold;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px 50px;
}
@media (min-width: 576px) {
  .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.inputContainer {
  width: 100%;
}
@media (min-width: 576px) {
  .inputContainer {
    width: calc(50% - 25px);
  }
}
.inputContainer > div {
  margin: 0;
}
.label {
  margin-bottom: 10px;
}
.input {
  width: 100%;
  height: 50px;
  padding: 6px 30px;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
}
