.navbar {
  width: 100%;
  padding: 15px 0;
  position: relative;
}
.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 991.9px) {
  .items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-family: "DancingScript-Bold", cursive;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  line-height: inherit;
  white-space: nowrap;
}
.toggler {
  display: none;
  cursor: pointer;
}
@media (max-width: 991.9px) {
  .toggler {
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .open {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.toggler span {
  width: 35px;
  height: 4px;
  display: block;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.toggler span:not(:last-of-type) {
  margin-bottom: 6px;
}
@media (max-width: 991.9px) {
  .toggler.open span:first-of-type {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .toggler.open span:nth-of-type(2) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 0;
  }
  .toggler.open span:last-of-type {
    display: none;
  }
}
.collapse {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media (max-width: 991.9px) {
  .collapse {
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
  }
  .collapse.opened {
    -webkit-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
    height: 246px;
  }
}
.links,
.sideList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
.links {
  padding-left: 18%;
  margin: 0 auto;
}
@media (max-width: 991.9px) {
  .links {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .links {
    padding-top: 15px;
    padding-left: 0;
  }
}
.links li > a,
.sideList li > a,
.sideList .cart > span {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.links li > a {
  padding: 5px 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .links li > a {
    padding: 5px 25px;
    margin: 5px 0;
  }
}
.links li > a:hover,
.links li > a.active,
.sideList li > a:hover,
.sideList .cart > span:hover {
  color: var(--MainColor);
}
.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .user {
    margin-top: 15px;
  }
}
.user > a {
  padding: 8px 30px;
}
.user > a,
.sideList li > a,
.sideList .cart > span {
  margin: 0 10px;
}
.sideList li.cart {
  position: relative;
}
.sideList li.cart::before {
  content: attr(data-before);
  position: absolute;
  width: 10px;
  height: 10px;
  color: var(--MainColor);
  top: -8px;
  right: -2px;
}
