.loading {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f6f6f6;
  color: var(--MainColor);
}
.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ul li {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 32px;
  transition: 0.2s ease;
}
.active {
  transform: scale(1.4);
}
.text {
  font-size: 26px;
  font-weight: bold;
}
