.box {
  display: flex;
  flex-direction: column;
}
.box > a {
  display: block;
  color: #fff;
  margin: 5px 0;
}
.box > a:hover {
  color: var(--MainColor);
}
.icon {
  font-size: 14px;
  margin-right: 8px;
}
