.contact .contact-box {
  display: flex;
  flex-direction: column;
}
.contact-box a {
  display: block;
  color: #fff;
  margin: 5px 0;
}
#Footer .footer-box .footer-item .contact .contact-box a:hover {
    color: var(--MainColor);
}
.contact .contact-box a span.contact-icon {
    font-size: 14px;
    margin-right: 8px;
  }
