#Footer {
  padding: 75px 0 40px 0;
  background-color: var(--NavyColor);
  color: #fff;
}
#Footer .footer-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#Footer .footer-box .footer-item {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #Footer .footer-box .footer-item {
    max-width: calc(100% / 3);
    flex: 0 0 calc(100% / 3);
  }
}
#Footer .footer-box .footer-item .Item-header {
  margin-bottom: 20px;
  font-family: "DancingScript-Regular", cursive;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
}
#Footer .footer-box .footer-item p {
  color: #dbdbdb;
  margin-bottom: 16px;
}
#Footer .footer-info {
  margin-top: 25px;
}
#Footer .footer-info p:first-of-type {
  margin-bottom: 24px;
}
