.footer {
  padding: 75px 0 40px 0;
  background-color: var(--NavyColor);
  color: #fff;
  text-align: center;
}
.box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.item {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .item {
    max-width: calc(100% / 3);
    flex: 0 0 calc(100% / 3);
  }
}
.info {
  margin-top: 25px;
}
.info p:first-of-type {
  margin-bottom: 24px;
}
