body {
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "OpenSans-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --MainColor: #ffbe33;
  --HoverColor: #e69c00;
  --NavyColor: #222831;
  --SectionPadding: 90px 0;
}
