.offers {
  padding: 45px 0 0 0;
  background-color: #fff;
}
.offersItems {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 768px) {
  .offersItems {
    flex-wrap: nowrap;
  }
}
.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 45px;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: var(--NavyColor);
}
@media (max-width: 430px) {
  .item {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 767.9px) {
  .item:not(:first-of-type) {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .item {
    max-width: 50%;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .item {
    flex-direction: column;
    justify-content: center;
  }
}
.imageContainer {
  max-width: 175px;
  max-height: 175px;
  margin-right: 15px;
  border-radius: 50%;
  border: 5px solid var(--MainColor);
  overflow: hidden;
  object-fit: cover;
}
@media (max-width: 992px) {
  .imageContainer {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.imageContainer img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.imageContainer img:hover {
  transform: scale(1.1);
}
.description {
  text-align: start;
  color: #fff;
}
@media (max-width: 992px) {
  .description {
    text-align: center;
  }
}
.h2 {
  font-family: "DancingScript-Regular", cursive;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.2;
}
.h3 {
  margin: 10px 0;
  font-family: "DancingScript-Bold", cursive;
  text-transform: capitalize;
}
.percentage {
  font-size: 2.5rem;
}
.off {
  font-size: 15px;
}
.button {
  padding: 10px 30px;
}
.icon {
  margin-left: 5px;
  vertical-align: middle;
}
